body  {
  font-family: 'Roboto', 'Arial', sans-serif;
  
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  background-color: #849d8f;
}

a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active), 
input[type="checkbox"].visually-hidden, 
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Слайдер */

body > input[type="radio"]  {
  display: none;
}

.site-wrapper {
  min-width: 1200px;
  /* min-height: 243vh;  */
  /*временно*/

  
  background-repeat: no-repeat;
  background-position: top center;
  
  transition: background-image 500ms ease, background-color 500ms ease; 
  -moz-transition: background-image 500ms ease, background-color 500ms ease; 
  
 
}


.site-wrapper::before,
.site-wrapper::after  {
  content: "";

  visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after  {
  background-image: url("../img/slide-1.png");
}

.site-wrapper::after  {
  background-image: url("../img/slide-2.png");
}

.content-wrapper  {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  
}

.main-header  { 

  /* background-color: rgba(0,0,0, 0.4);
  box-shadow: inset 0 0 0 4px #000000;  */
}

.slider {  
  padding-top: 265px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.slider-wrapper {
  position: relative;

}

.slide  {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
}

.slide-btn  {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0% #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0% #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0% #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.slide-btn:active  {
box-shadow: inset 0 2px 2px #942718;
background-color: rgba(0, 0, 0, 0.07);
background-color: #ffffff;
background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.slider-controls  {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}


#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3  {
  display: block;
}

#btn-1:checked ~ .site-wrapper  {
  background-color: #849d8f;
  background-image: url("../img/slide-3.png")
}

#btn-2:checked ~ .site-wrapper  {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png")
}

#btn-3:checked ~ .site-wrapper  {
  background-color: #9d8b84;
  background-image: url("../img/slide-1.png")
}



#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

/* Слайдер */

/*header*/
.main-header {
  /* position: relative; */
}

.main-header img {
  margin-right: 8px;
}

.main-header nav  {  
  display: flex;
  position: relative;
}



.main-header ul {
 
  margin: 0;
  padding: 0;
  list-style: none;
 
}

.main-navigation  {     
  display: flex;
  justify-content: space-around; 
 
}


ul.main-navigation  {
  width: 380px;
  position: relative;
  margin-top: 20px;
  margin-right: auto;
}



.main-navigation li  a { 
  position: relative; 
  padding: 6px 11px;  
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;  
}



.main-navigation > li > a::after {
  content: "";
  position: absolute;
  right: 11px;
  bottom: 6px;
  left: 11px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  
}

.sub-menu  {
  position: absolute;  
  top: 32px;
  left: -5px;   
  display: none;
}



.site-wrapper .main-navigation  > li:hover .sub-menu  {  
  display: block;
  
}


ul.sub-menu  {  
  padding: 0;
  padding-top: 10px; 
  padding-bottom: 10px;  
  background: #fff;  
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

ul.main-navigation > li > a:hover {
  padding: 6px 11px;
  color: #323232;  
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  background-color: #fff;
  border-radius: 100px;  
}


.sub-menu  b {
  position: relative;
  padding-left:  21px;
  padding-right: 67px;  
  font-size: 14px;  
  line-height: 16px;

  color: #323232; 
  
}

.sub-menu li:nth-child(1) {
  padding-bottom: 19px;
}


.sub-menu b::after  {
  position: absolute;
  content: "";
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  left: 6px;
  right: 10px;
  height: 1px;
  bottom: -20px;

}



.sub-menu li  {  
  padding: 1px 0; 
  
}

.main-navigation .sub-menu li a {
  display: block;  
  
  padding-left:  21px;
  color: #323232;
  font-weight: 400;
  font-size: 14px;  
  line-height: 16px;
}

.main-navigation .sub-menu li a:hover {
  background-color: #fbded8;
}

/* Правая часть меню*/

.user-navigation {
  position: relative;
  margin: 0;
  padding: 0;
  width: 267px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;

}



.user-navigation p {
  padding-top: 10px;
  padding-bottom: 9px;  
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 100px;
}

.user-navigation li:nth-child(1) p  {
  padding: 17px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 9px 9px;
}

.user-navigation li:nth-child(1) p:hover  {
  background-color: #fff;
  background-image: url("../img/loupe-color.svg");
  background-repeat: no-repeat;
  background-position: 9px 9px;
}



.user-navigation li:nth-child(2) p  {
  padding-left: 44px;
  padding-right: 17px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 16px 8px;
}

.user-navigation li:nth-child(2) p:hover  {
  background-color: #fff;
  color: #333333;
  padding-left: 44px;
  padding-right: 17px;
  background-image: url("../img/entrance-color.svg");
  background-repeat: no-repeat;
  
}




.user-navigation li:nth-child(3) p  {
  padding-left: 45px;
  padding-right: 34px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 16px 8px;
}



.time-table {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.time-table p {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

p.time-table {
  font-size: 22px;
  line-height: 24px;
}

.search-request {
  margin: 0;
  padding: 0;
  display: none;
}

.login-form {
  margin: 0;
  padding: 0;
  display: none;
}


.user-navigation > li:hover .search-request  {
  display: block;
  position: absolute;
  top: 57px;
  right: 575px;
}



.search-request li  { 
  position: absolute;
  padding: 21px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  
}

.search-request input {
  box-sizing: border-box;
  padding: 17px;
  width: 314px;
  height: 47px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
  color: #999999;
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}


.user-navigation > li:hover .login-form  {
  display: block;
  position: absolute;
  top: 57px;
  right: 126px;
 
}

.login-form li {
  margin: 0;
  padding: 0;
  padding: 20px 18px; 
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;

}

.login-form input {
  box-sizing: border-box;
  margin-bottom: 17px;
  padding: 17px;  
  width: 244px;
  height: 47px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
  color: #999999;
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.login-form .btn-form {
  display: inline-block;
  border: none;
  color: white;
  font: inherit;
  padding: 17px 26px;
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0% #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0% #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0% #e74a35 100%);
  border-radius: 30px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}



.login-form a {
  display: block;
  color: #323232;  
  text-decoration: underline;
  text-decoration-color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}


.form-wrapper {
  width: 244px;
  display: flex;
  justify-content: space-around;
}

/* основная инфаормация */

.promotions {
  
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.promotions li  {    
  padding-top: 23px;
  width: 560px;
  min-height: 229px;
  border-radius: 10px;
}

.promotions li:nth-child(1) {
  background-image: url("../img/raspberries.jpg");
  background-repeat: no-repeat;  
  background-position: -50px -90px;  
}

.promotions li:nth-child(2) {
  background-image: url("../img/chocolates.jpg");
  background-repeat: no-repeat;    
}

.promotions b {
  
  padding-left: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;
}

.promotions p {
  padding-left: 20px;
  padding-right: 27px;
  padding-bottom: 31px;
  color: #ffffff;
  font-size: 18px;  
  line-height: 22px;
}

.promotions button  {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 29px;
  font: inherit;
  color: #fff;
  border: none;
  padding: 15px 23px;
  border-radius: 100px;  
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;
  
}

.offers {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}

.offers li  {
  position: relative;
  margin: 0;
  padding: 0;
  width: 267px;
  height: 267px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.offers li:nth-child(1) {
  background-image: url("../img/ice-cream-1.png")
}

.offers li:nth-child(2) {
  background-image: url("../img/ice-cream-2-.png")
}

.offers li:nth-child(3) {
  background-image: url("../img/ice-cream-3.png")
}

.offers li:nth-child(4) {
  background-image: url("../img/ice-cream-4.png")
}

.offers li:nth-child(1)::before,
.offers li:nth-child(2)::before,
.offers li:nth-child(3)::before,
.offers li:nth-child(4)::before  {
  position: absolute;
  content: "";
  width: 62px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.offers b {  
  position: absolute;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;  
  font-size: 45px;  
  font-weight: 500;
  line-height: 45px;
  bottom: 18px;
  left: 0px;
}

.offers p {
  position: absolute;  
  color: #fff;  
  margin: 0;
  font-weight: 700;
  line-height: 45px;
  font-size: 30px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  bottom: 18px;
  left: 119px;
}

p.offers-info  {  
  padding-top: 283px;  
  position: static;
  width: 252px;
  min-height: 37px; 
  text-align: center;  
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-shadow: none;    
}

p.offers-info span {        
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);  
}

.pattern  {
  margin: 0;
  padding: 0;  
  margin-bottom: 40px;
  border-radius: 10px;
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat;

}

.quality  {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-right: 126px;
  padding-left: 21px;  
  margin-bottom: 10px;
  color: #323232; 
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features {
  
  margin: 0;
  padding: 0;
  padding-left: 76px;
  padding-right: 33px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  
 
}

.features li  {  
  position: relative;
  width: 476px;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;  
  background-repeat: no-repeat;
}


.features li:nth-child(1)::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");  
  top:0;
  left: -55px;
}

.features li:nth-child(1)::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");  
  top:0;
  left: -55px;
}

.features li:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");  
  top:0;
  left: -55px;
}


.features li:nth-child(3)::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/leaf.svg");  
  top:0;
  left: -55px;
}

.features li:nth-child(4)::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");  
  top:0;
  left: -55px;
}

.blog {
  margin: 0;
  padding: 0;  
  width: 560px;
  height: 220px;
  background-image: url("../img/strawberry.jpg");
  background-position: -54px -223px;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.blog p {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-left: 20px;
  margin-bottom: 11px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
}

.blog h3 {
  width: 280px;
  height: 84px;
  margin-left: 20px;
}


.blog a { 
  text-align: left;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  border-bottom: 2px solid #323232;
}


.post-mail-wrapper  {
  
  margin: 0;
  padding: 0;
  padding: 6px;
  background-image: url("../img/post-mail-background.svg");
  background-repeat: no-repeat;
  width: 560px;
  height: 220px;
  box-sizing: border-box;
}

.post-mail-wrapper form  {
  margin: 0;
  padding: 0;  
  width: 549px;
  height: 210px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.post-mail-wrapper p  {
  margin: 0;
  padding: 0;
  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 38px;
  color: #5a5a5a;  
  font-size: 16px;
  line-height: 22px;
  
}

.post-mail-wrapper input  {
  margin: 0;
  padding: 15px;
  margin-left: 20px;
  margin-right: 11px;
  box-sizing: border-box;
  font: inherit;
  width: 368px;
  height: 44px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
}

.post-mail-wrapper  button  {   
  font: inherit;
  color: #fff;
  border: none;
  padding: 10px 14px;
  color: #fefefe;
  font-size: 18px;  
  line-height: 24px;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;
}



.info-wrapper {
  
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search-info  {
  position: relative; 
  width: 1200px;
  margin: 0;
  margin-left: -27px;
 
}

.map  {     
  z-index: 1;  
}

.contacts {  
  position: absolute;
  z-index: 3;
  top: 62px;
  right: 27px;
  padding: 0;
  padding-left: 25px;
  z-index: 3;
  box-sizing: border-box;
  width: 302px;
  height: 306px;
  border-radius: 10px;
  background-color: #ffffff;  
 
}

.contacts p {
  margin: 0;
  padding-top: 32px;
  padding-right: 129px;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 9px;
}

.contacts b {
  display: block;
  color: #323232;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

p.booking {
  padding: 0;
  margin-bottom: 10px;
}

.contacts span  {
  display: block;
  color: #323232;
  font-size: 18px;
  line-height: 22px;
}

p.work {
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  color: #323232;
  font-size: 14px;
  line-height: 22px; 

}

.contacts button  {
  font: inherit;
  color: #fff;
  border: none;
  padding: 13px 28px;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;
}




/* основная инфаормация */

/*подвал*/
.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 185px;
  margin-top: 33px;
  margin-bottom: 29px;
}

.social li  {
  width: 32px;
  height: 32px;
  border-radius: 100%;  
  background-repeat: no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.social li:nth-child(1) {
  background-image: url("../img/twitter.svg");
}
.social li:nth-child(2) {
  background-image: url("../img/instagram.svg");
}
.social li:nth-child(3) {
  background-image: url("../img/fb.svg");
}
.social li:nth-child(4) {
  background-image: url("../img/vk.svg");
}


.about-us {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;   
  justify-content: space-between;  
  flex-wrap: wrap;  
  width: 305px;
  height: 36px;
  margin-top: 26px;
   
}

.about-us li {  
  position: relative;  
  margin: 0;
  padding: 0;  
}

.about-us li:nth-child(2) {
  flex-basis: 162px;
}


.about-us a {  
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;  
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.about-us span  {
  font-weight: 700;
}

.about-us li:nth-child(1)::before  {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  top: 7px;
  left: -22px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.designed {
  list-style: none;
  margin: 0;
  padding: 0;  
  margin-top: 17px;
}

.designed p {
  margin: 0;
  padding: 0;
  width: 108px;
  height: 39px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;  
}

.designed a {
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.designed span  {
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}


.footer-wrapper {
  display: flex;
  justify-content: space-between;
}


/*подвал*/




